/* * {
    border: 1px solid green;
} */

main {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 95vh;
}

#title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: center /200% no-repeat url("../img/team-dali.jpg");
    text-transform: uppercase;
    color: rgb(160, 0, 0);
    text-shadow: 1px 1px 5px white;
}

div {
    border: 2px solid rgb(160, 0, 0);
    border-radius: 50%;
    color: white;
    text-shadow: 2px 1px 1px red;
    text-align: center;
    background-color: rgb(160, 0, 0);
}

article {
    margin: auto;
    color: rgb(160, 0, 0);
}

.button {
    background-color: rgb(160, 0, 0);
    color: white;
    width: 150px;
    height: 70px;
    font-size: 18px;
}

#dice {
    width: 100px;
    height: 100px;
}

.cash {
    background-color: rgb(160, 0, 0);
    width: 150px;
    min-height: 50px;
    border-radius: 0;
    text-align: center;
    vertical-align: center;
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "Start box1 box2 box3 box4 box5" "box15 box16 box17 box18 box19 box6" "box14  Finish Finish box21 box20 box7" "box13 box12 box11 box10 box9 box8";
    grid-gap: 2px;
}

.player {
    width: inherit;
    border: none;
    border-radius: none;
    height: 90%;
    background: center / 80% no-repeat url(../img/little-guy.png);
}

.box-O0 {
    grid-area: Start;
}

.box-01 {
    grid-area: box1;
    background: center / 100% no-repeat url(../img/thief.jpg);
}

.box-02 {
    grid-area: box2;
    background: center / 100% no-repeat url(../img/tokyo.jpg);
}

.box-03 {
    grid-area: box3;
    background: center / 100% no-repeat url(../img/berlin.jpg);
}

.box-04 {
    grid-area: box4;
    background: center / 100% no-repeat url(../img/moscou.jpg);
}

.box-05 {
    grid-area: box5;
    background: center / 100% no-repeat url(../img/polizia.jpg);
}

.box-06 {
    grid-area: box6;
    background: center / 100% no-repeat url(../img/firegun.jpg);
}

.box-07 {
    grid-area: box7;
    background: center / 100% no-repeat url(../img/prof-glasses.jpg);
}

.box-08 {
    grid-area: box8;
    background: center / 100% no-repeat url(../img/nairobi.jpg);
}

.box-09 {
    grid-area: box9;
    background: center / 100% no-repeat url(../img/professor.jpeg);
}

.box-10 {
    grid-area: box10;
    background: center / 100% no-repeat url(../img/palerme.jpg);
}

.box-11 {
    grid-area: box11;
    background: center / 100% no-repeat url(../img/bogota.jpg);
}

.box-12 {
    grid-area: box12;
    background: center / 100% no-repeat url(../img/denver.jpg);
}

.box-13 {
    grid-area: box13;
    background: center / 100% no-repeat url(../img/arturo.jpg);
}

.box-14 {
    grid-area: box14;
    background: center / 100% no-repeat url(../img/nairobi2.jpg);
}

.box-15 {
    grid-area: box15;
    background: center / 100% no-repeat url(../img/helsinki.jpg);
}

.box-16 {
    grid-area: box16;
    background: center / 100% no-repeat url(../img/girl.jpg);
}

.box-17 {
    grid-area: box17;
    background: center / 100% no-repeat url(../img/mask.jpg);
}

.box-18 {
    grid-area: box18;
    background: center / 100% no-repeat url(../img/raquel.jpeg);
}

.box-19 {
    grid-area: box19;
    background: center / 100% no-repeat url(../img/casa-papel-team.jpg);
}

.box-20 {
    grid-area: box20;
    background: center / 100% no-repeat url(../img/rio.jpg);
}

.box-21 {
    grid-area: box21;
    background: center / 100% no-repeat url(../img/denver2.jpg);
}

.box-22 {
    grid-area: Finish;
    background: center / 100% no-repeat url(../img/casa-team.jpeg);
}

.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


/*KEYFRAMES*/

@keyframes blink {
    0% {
        background-color: rgb(160, 0, 0);
        color: white;
    }
    25% {
        background-color: white;
        color: rgb(160, 0, 0);
    }
    50% {
        background-color: rgb(160, 0, 0);
        color: white;
    }
    75% {
        background-color: white;
        color: rgb(160, 0, 0);
    }
    100% {
        background-color: rgb(160, 0, 0);
        color: white;
    }
}